<div class="bio-profile-body">
    <section class="bio-profile-body-section">
        <h5 class="bio-profile-body-section-text">Blogs</h5>
        <div class="bio-profile-body-section-buttons">
            <bio-button [icon]="hashnnodeIcon" [name]="hashnnodeName" [link]="hashnnodeURL"></bio-button>
            <bio-button [icon]="devIcon" [name]="devName" [link]="devURL"></bio-button>
            <bio-button [icon]="mediumIcon" [name]="mediumName" [link]="mediumURL"></bio-button>
            <bio-button [icon]="buymeacoffeeIcon" [name]="buymeacoffeeName" [link]="buymeacoffeeURL"></bio-button>
        </div> 
    </section>
</div>