<div class="profile-component">
    <img class="user-profile" src="assets/Profile.png" alt="">
    <H1>Nishant ⭐️</H1>
    <h3>Vedic Developer</h3>

    <div class="social-icons">
        <img class="social-icon" src="assets/social/twitter.png" alt="twitter">
        <img class="social-icon" src="assets/social/youtube.png" alt="youtube">
        <img class="social-icon" src="assets/social/linkedin.png" alt="linkedin">
        <img class="social-icon" src="assets/social/facebook.png" alt="facebook">
        <img class="social-icon" src="assets/social/instagram.png" alt="instagram">
    </div>
</div>