.bio-profile-body-section{
    margin-top: 32px;
    display: flex;
    flex-direction: column;


    .bio-profile-body-section-text{
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
        text-transform: none;
        color: #000000;
        margin: 0;
    }
}

